Tasks
<table border="1">
 <% @tasks.each do |task| %>
    <tr>
      <th>
        <a href="<%=task_path(task)%>">rest <%=task.name%></a>
        <a href = "/show?id=<%=task.id%>" ><%= task.name %> <a/>
      </th>
      <th><a href = "/delete?id=<%=task.id%>">Delete</a></th>
      <th>
        <a href = "/edit?id=<%=task.id%>">Update</a>
        <%= link_to "Update", edit_task_path(task) %>
      </th>
    </tr>
  <% end %>
</table>
<a href="/categories">Categories</a></th>
<a href="/tasks/new">Add new task</a></th>

